<h5>Overview</h5>
<br />
We are a group of spontaneous people who, quite frankly, dream of building up better Bangladesh. Better Bangladesh is a vast concept; it will practically become true only when desired development can be ensured in every field of living. We eye at diversity, and the name of our group 'OnnoRokom' (অন্যরকম) is directly motivated by this spirit. Onnorokom being a Bengali word itself means something different. We are determined to go beyond traditionalism, because it's our earnest belief that tradition can never make things excellent.
<br />
<h5>Vision</h5>
<br />
To shape up a different looking Bangladesh through the continuous development and refinement of Technology, Education, Research and Entrepreneurship.
<br />
<h5>Mission</h5>
<br />
Enhancing Human Competency, Promoting Research, Inventing and Developing Quality Products, Creating Innovative Solutions, Patronizing Potential guys of any Promising field and Delivering Superior Service to Customers.
