@model meeting_room_booking.ViewModels.FacilityViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="alert-danger">
    @ViewBag.Error
</div>
@{
    if (ViewBag.Error == null)
    {
        <a asp-action="Index" class="btn btn-outline-info">All Facilities</a>

        <h5 style="padding-top: 2rem">Facility Details</h5>
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th scope="col">Facility Id</th>
                    <th scope="col">Facility Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model?.Id">Edit</a>
        </div>
    }
}
