@model meeting_room_booking.ViewModels.FacilityViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="alert-danger">
    @ViewBag.Error
</div>
@{
    if (ViewBag.Error == null)
    {
        <a asp-action="Index" class="btn btn-outline-info">All Facilities</a>

        <h5 style="padding-top: 2rem">Edit a Facility</h5>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <span style="color: red">@ViewBag.ErrorMessage</span>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-primary" />
                    </div>
                </form>
            </div>
        </div>

        @section Scripts {
        @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    }
}